<div class="page-header">
    <h3>
        <%= name %>
        <% if (project) { %>
            <small>- Project <a id="tasks-edit-project" href="#" class="btn btn-small pull-right">Edit</a></small></h3>
            <div class="info">
                <p><%= open %> todos out of <%= total %> are still open (<%= completed %> completed). The project is <% if (project.due) { %>due on <span class="due label label-<%
                    due = moment(project.due, 'YYYY-MM-DD');
                    tod = moment(new Date());
                    if (tod.isBefore(due, 'day')) {
                        print('info')
                    } else if (tod.isSame(due, 'day')) {
                        print('warning')
                    } else if (tod.isAfter(due, 'day')) {
                        print('important')
                    }%>
                "><%= project.due %></span><% } else { %>never due<% } %>.<% if (project.area_id) { area = app.areas.get(project.area_id); %> This project is part of the area <a href="#area/<%= area.get('id') %>"><%= area.get('name') %></a>. <% } %></p>
                <div class="progress">
                    <div class="bar" style="width: <%= completed / total * 100 %>%;"></div>
                </div>
            </div>
            <div class="editor">
                <table class="table table-editor table-condensed">
                    <thead>
                        <tr>
                            <th colspan="2">Project details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td><input class="editor" type="text" id="tasks-edit-project-name" value="<%= name %>"></td>
                        </tr>
                        <tr>
                            <th>Due</th>
                            <td><input id="tasks-edit-project-due" type="date" value="<%= project.due %>"></td>
                        </tr>
                        <tr>
                            <th>Area</th>
                            <td>
                                <select id="tasks-edit-project-area">
                                    <% _.each(areas, function(area) { %>
                                        <option value="<%= area.id %>" <% if (area.id == project.area_id) { print('selected="selected"') } %>><%= area.name %></option>
                                    <% }); %>
                                    <option value="0" <% if (!project.area_id) { %>selected="selected" <% } %>>None</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
               <a href="#" class="btn btn-primary" id="tasks-save-project">Save</a> <a href="#" class="btn btn-danger" id="tasks-delete-project">Delete</a>
            </div>
        <% } else if (area) { %>
            <small>- Area</small>
        <% } else { %></h3><% } %>
</div>
<form class="form form-inline">
    <input type="text" placeholder="Add a new task" id="task-input">
    <a href="#" class="btn btn-primary" id="task-submit">Create</a>
</form>
<p><strong>To do</strong></p>
<ul id="tasks-list" class="nav nav-list nav-custom"></ul>
<a href="#" class="pull-right <% if (showCompleted || completed == 0) { %>hidden<% } %>" id="tasks-show-completed">Show completed tasks</a>
<div id="tasks-completed" class="<% if (!showCompleted) { %>hidden<% } %>">
    <p><strong>Completed</strong></p>
    <ul id="tasks-list-completed" class="nav nav-list nav-custom"></ul>
    <a href="#" class="pull-right" id="tasks-hide-completed">Hide completed tasks</a>
</div>
