<div id="tasks-header">
</div>
<form class="form form-inline">
    <input type="text" placeholder="Add a new task" id="task-input">
    <a href="#" class="btn btn-primary" id="task-submit">Create</a>
</form>
<p><strong>To do</strong></p>
<ul id="tasks-list" class="nav nav-list nav-custom"></ul>
<a href="#" class="pull-right <% if (showCompleted || (completed == 0 && openProjects == 0)) { %>hidden<% } %>" id="tasks-show-completed">Show completed tasks</a>
<div id="tasks-completed" class="<% if (!showCompleted) { %>hidden<% } %>">
    <p><strong>Completed</strong></p>
    <ul id="tasks-list-completed" class="nav nav-list nav-custom"></ul>
    <a href="#" class="pull-right" id="tasks-hide-completed">Hide completed tasks</a>
</div>
