{% extends "base.html" %}

{% block button %}
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
{% endblock button %}

{% block navbar %}
<div class="collapse nav-collapse">
    <ul class="nav">
        {% for entry in ['about', 'docs', 'signup', 'login'] %}
            <li {% if link == entry %}class="active"{% endif %}><a href="{{ url_for('PublicView:' + entry) }}">{{ entry }}</a></li>
        {% endfor %}
    </ul>
{% endblock navbar %}

{% block endnav %}
</div>
{% endblock endnav %}
