{% extends "public/base.html" %}

{% block container %}
<div class="public">
    <div class="row">
        <div class="span6 offset3">
            <div class="page-header">
                <h1>done <small>- docs</small></h1>
            </div>

            <div class="page-header">
                <h2>Introduction</h2>
            </div>

            <p>Hello everyone! Well, it looks like you are considering to write something that makes use of the done app. Congratulations to that decision! ;)</p>
        </div>

    </div>
</div>
{% endblock container %}
