{% extends "base.html" %}

{% macro uicomponent(name) -%}
    <script type="text/template" id="{{ name }}-template">
        {%- include "ui/components/" + name + ".html" -%}
    </script>
{%- endmacro %}

{% block templates %}
<!-- templates -->
{{ uicomponent('task') }}
{{ uicomponent('tasks-header') }}
{{ uicomponent('tasks-header-project') }}
{{ uicomponent('tasks-header-area') }}
{{ uicomponent('tasks') }}
{{ uicomponent('project') }}
{{ uicomponent('info') }}
{{ uicomponent('info-default') }}
{{ uicomponent('menu-entry') }}
{{ uicomponent('menu') }}
{% endblock templates %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ 'css/done.overflow.css'|static }}">
{% endblock css %}

{% block js %}
<!-- app specific dependencies -->
<script type="text/javascript" src="{{ 'js/jquery-ui.js'|static }}"></script>
<script type="text/javascript" src="{{ 'js/underscore.js'|static }}"></script>
<script type="text/javascript" src="{{ 'js/backbone.js'|static }}"></script>
<script type="text/javascript" src="{{ 'js/moment.js'|static }}"></script>

<!-- the app -->
<script type="text/javascript" src="{{ 'js/done.js'|static }}"></script>
{% endblock js %}

{% block button %}
<button type="button" class="btn btn-navbar" id="menu-button">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
{% endblock button %}

{% block navbar %}
<ul class="nav">
    <li><a href="{{ url_for('AppView:logout') }}">logout</a></li>
</ul>
{% endblock navbar %}

{% block container %}
<div class="row">
    <div class="span2" id="left">
        <ul class="nav nav-list nav-custom" id="menu">
        </ul>
    </div>
    <div class="span6" id="center">
        <div id="tasks"></div>
    </div>
    <div class="span4" id="right">
        <div id="info"></div>
    </div>
</div>
{% endblock container %}

{% block end %}
<!-- init and open default view -->
<script type="text/javascript">

    var app = new App({
        tasks: {{ tasks|safe }},
        projects: {{ projects|safe }},
        areas: {{ areas|safe }}
    });
    Backbone.history.start({root: '/app/'});
</script>
{% endblock end %}
