{% extends "public/base.html" %}

{% block container %}
<div class="public">
    <div class="row">
        <div class="span6 offset3">
            <div class="page-header">
                <h2 style="text-align: center;">Signup</h2>
            </div>
            <form class="form" method="POST">
                <input type="text" name="user" placeholder="Username" style="margin-left: auto; margin-right: auto;"><br />
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="password-confirm" placeholder="Confirm password">
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary pull-right" value="Sign up!">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock container %}
