<!DOCTYPE html>

{% macro input(field) %}
    <div class="control-group">
        {% if field.type == 'BooleanField' %}
            <div class="controls">
                <label for="{{ field.name }}" class="checkbox">
                    {{ field(**kwargs) }}
                    {{ field.label.text }}
                </label>
            </div>
        {% else %}
            <label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
            <div class="controls">
                {{ field(**kwargs) }}
                {% if field.errors %}
                    <div>
                        {% for error in field.errors %}
                            <span class="help-inline">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

<html>
    <head>

        <title>{% block title %}done{% endblock title %}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ 'css/bootstrap.css'|static }}">
        <link rel="stylesheet" type="text/css" href="{{ 'css/bootstrap-responsive.css'|static }}">
        <link rel="stylesheet" type="text/css" href="{{ 'css/done.css'|static }}">

        {% block css %}
        {% endblock css %}

        {% block templates %}
        {% endblock templates %}

        <script type="text/javascript" src="{{ 'js/jquery.js'|static }}"></script>
        <script type="text/javascript" src="{{ 'js/bootstrap.js'|static }}"></script>

        {% block js %}
        {% endblock js %}

    </head>

    <body>
        <div class="navbar navbar-inverse" id="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span10 offset1">
                           {% block button %}
                           {% endblock button %} 
                            <a href="/" class="brand">done</a>
                            {% block navbar %}
                            {% endblock navbar %}
                            <ul class="nav pull-right">
                                <li><a href="https://julo.ch">a <b>julo.ch</b> service</a></li>
                            </ul>

                            {% block endnav %}
                            {% endblock endnav %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block container %}
            {% endblock container %} 
        </div>

        {% block end %}
        {% endblock end %}

    </body>

</html>
