{% extends "ui.html" %}

{% block head %}
{% endblock head %}

{% block menu %}
<div id="menu">
</div>
{% endblock menu %}

{% block main %}
<div id="tasks">
    <form id="task-new" class="form form-inline">
        <input class="name span5" type="text" placeholder="Create a new task.">
        <input id="task-new-submit" class="btn btn-primary pull-right" type="submit" value="Create">
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th id="test">Task</th>
            </tr>
        </thead>
        <tbody id="list">
        </tbody>
    </table>
</div>
{% endblock main %}

{% block extra %}
<div id="info">
</div>
{% endblock extra %}

{% block end %}
<div id="templates" style="display: none;">
    <script type="text/template" id="task-template">
        <td><span class="name"><%= name %></span> <small class="pull-right"><time datetime="<%= due %>"><% if(due) { print(moment(due).fromNow()) } %></time></td>
    </script>
    <script type="text/template" id="info-template">
        <h4 id="display-name" class="editable" data-field="name"><%= name %></h4>
        <input id="editor-name" class="editor" type="text" value="<%= name %>" style="display: none;">
        <table class="table">
            <tbody>
                    <tr>
                        <th>Created</th>
                        <td><time datetime="<%= created %>"><%= moment(created).fromNow() %></time>
                        </td>
                    </tr>
                <% if (due) { %>
                    <tr>
                        <th>Due</th>
                        <td>
                            <time class="editable" datetime="<%= due %>" data-field="due" id="display-due"><%= moment(due).fromNow() %></time>
                            <input class="due" type="text" value="<%= due %>" style="display: none;"><input id="editor-due" class="editor" type="text" value="<%= due %>" style="display: none;">
                        </td>
                    </tr>
                <% } %>
                <% if (completed) { %>
                    <tr>
                        <th>Completed</th>
                        <td><time datetime="<%= completed %>"><%= moment(completed).fromNow() %></time></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% if (!completed) { %>
            <p><a id="task-done" href="#" class="btn btn-success">Done</a></p>
        <% } %>
        <p>
            <% if (!completed && due ) { %> 
                <a id="task-postpone" href="#" class="btn btn-warning">Postpone</a>
            <% } %>
            <a id="task-delete" href="#" class="btn btn-danger">Delete</a>
        </p>
    </script>
    <script type="text/template" id="menu-template">
        <ul class="nav nav-list">
            <li class="nav-header"><a href="#">Incoming</a></li>
            <li><a href="#inbox">Inbox</a></li>
            <li class="nav-header"><a>Automatic Lists</a></li>
            <li><a href="#today">Today</a></li>
            <li><a href="#tomorrow">Tomorrow</a></li>
            <li><a href="#everything">Everything</a></li>
        </ul>
        <ul class="nav nav-list" id="projects">
            <li class="nav-header"><a href="#">Projects</a></li>
        </ul>
        <ul class="nav nav-list" id="areas">
            <li class="nav-header"><a href="#">Areas</a></li>
        </ul>
        <ul class="nav nav-list" id="others">
            <li class="divider"><a href="#"></a></li>
            <li><a href="#done">Done</a></li>
        </ul>
    </script>
    <script type="text/template" id="project-template">
        <li><a href="#project/<%= id %>" id="project-<%= id %>"><%= name %></a></li>
    </script>
    <script type="text/template" id="area-template">
        <li><a href="#area/<%= id %>"><%= name %></a></li>
    </script>
</div>
<script type="text/javascript" src="{{ 'js/custom.js'|static }}"></script>
{% endblock end %}
